<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link href="css/common.b6895cb.css" rel="stylesheet">
    <link href="css/main.d398ce3.css" rel="stylesheet">
    <!--<link href="//127.0.0.1:8278/css/common.css" rel="stylesheet">-->
    <!--<link href="//127.0.0.1:8278/css/main.css" rel="stylesheet">-->
</head>
<body>
<div id="app"></div>

<script type="text/javascript" src="js/common.9ccabf7.js"></script>
<script type="text/javascript" src="js/main.6b0fb20.js"></script>
<!--<script type="text/javascript" src="//127.0.0.1:8278/js/common.js"></script>-->
<!--<script type="text/javascript" src="//127.0.0.1:8278/js/main.js"></script>-->
</body>
</html>